general {
    # ----- Tactical Tomahawk: Configuration -----
    
    # Base stats of the item.
    D:Damage=10.0
    D:HeavyDamage=25.0
    
    # Attack duration customisation.
    # (Do not mess with this if you don't know how to)
    I:PrepareStubTimeout = 0;
    I:PrepareHeavyStubTimeout = 390;
    I:AttackCooldownTimeout = 0;
    I:HeavyAttackCooldownTimeout = 0;
    I:AnimationDuration = 400;
    
    # The information displayed in the lore of the item.
    # Warning: This does not automatically update with Damage or HeavyDamage.
    S:Description <
        类型: 近战武器
        伤害: 10
        重击伤害: 25
     >
}