general {
    # ----- AR10: Configuration ------
    
    # Base stats of the item
    D:Damage=10.0
    D:FireRate=0.8
    D:Recoil=5.0
    
    # Bullet drop-off
    D:GravityVelocity=0.0118
    
    # The information displayed in the lore of the item
    # Warning: This does not automatically update with Damage or Rate of Fire
    S:Description <
        Type: Semi-Automatic Sniper System
        Damage: 10
        Cartridge: 7.62x51mm
        Fire Rate: SEMI, AUTO
        Rate of Fire: 80/100
        Magazines:
        10rnd 7.62x51mm NATO Magazine
     >
}