general {
    # ----- DP28: Configuration ------

    # Base stats of the item
    D:Damage=7.0
    D:FireRate=0.5
    D:Recoil=4.0

    # Bullet drop-off
    D:GravityVelocity=0.0118

    # The information displayed in the lore of the item
    # Warning: This does not automatically update with Damage or Rate of Fire
    S:Description <
        类型: 轻机枪
        伤害: 14
        弹药: 7.62x54mmR
        开火模式: 半自动, 全自动
        射击速度: 50/100
        可用弹药:
        47rnd 7.62x54mmR Magazine
     >
}