general {
    # ----- Kar98k: Configuration ------

    # Base stats of the item
    D:Damage=27.0
    D:FireRate=0.16
    D:Recoil=6.0

    # Bullet drop-off
    D:GravityVelocity=0.0

    # The information displayed in the lore of the item
    # Warning: This does not automatically update with Damage or Rate of Fire
    S:Description <
        类型: 拉栓式步枪
        伤害: 27
        弹药: 7.92x57mm
        开火模式: 栓式枪机
        射击速率: 16/100
     >
}