general {
    # ----- M41A: Configuration ------

    # Base stats of the item
    D:Damage=6.5
    D:FireRate=0.9999999
    D:Recoil=0.2

    # Bullet drop-off
    D:GravityVelocity=0.0118

    # The information displayed in the lore of the item
    # Warning: This does not automatically update with Damage or Rate of Fire
    S:Description <
        Type: Multipurpose Pulse Rifle
        Damage: 6.5
        Cartridge: 10mm
        Fire Rate: SEMI, AUTO
        Rate of Fire: 99/100
     >
}