general {
    # ----- StonerA1: Configuration ------

    # Base stats of the item
    D:Damage=10.0
    D:FireRate=0.8
    D:Recoil=2.0

    # Bullet drop-off
    D:GravityVelocity=0.0118

    # The information displayed in the lore of the item
    # Warning: This does not automatically update with Damage or Rate of Fire
    S:Description <
        Type: Light Machine Gun
        Damage: 10
        Cartridge: 5.56x45mm
        Fire Rate: SEMI, AUTO
        Rate of Fire: 75/100
        Magazines:
        100rnd 5.56x45mm Stoner Magazine
     >
}
