#Whitelist
/*

#Folders
!/config/
!/profileImage
!/resourcepacks
!/resources
!/scripts
!/local
!/.github
!/Document

#Files
!/.gitignore
!/LICENSE.md
!/options.txt
!/optionsof.txt
!/README.md

#ignore
local/client
local/ftbutilities/backups.json
local/ftbutilities/players.txt