#Whitelist
/*

#同步的文件夹
!/balancepacks/
!/config/
!/Document
!/patchouli_books
!/profileImage
!/resourcepacks
!/resources
!/scripts
!/local
!/.github

#同步的文件
!/.gitignore
!/LICENSE.md
!/README.md

#忽略的文件夹
local/client
local/ftbquests
local/ftbutilities/backups.json
local/ftbutilities/players.txt