#Whitelist
/*

#Folders
!/config/
!/profileImage
!/resourcepacks
!/resources
!/scripts
!/local

#Files
!/.gitignore
!/LICENSE.md
!/options.txt
!/optionsof.txt
!/Parasite_Blood_Dawn.png
!/Parasite_Blood_Dawn_200x.png
!/README.md
!/RecordAndUpdate.md
!/PBD-Attachment.xlsx

#ignore
local/client
local/ftbutilities/backups.json
local/ftbutilities/players.txt