general {
    # ----- NCR Armour: Configuration -----

    # Not going to lie, I don't know what half of these configs do.
    # What I do know though, is that it works.

    I:MaxDamageFactorIn=200

    # Array of 4, I assume each affects the different armour piece.
    # Anyhoo, have fun. If you have any idea in terms of what any of
    # these do, and what I should input for their descriptions, let me know.

    I:DamageReductionAmount1=2
    I:DamageReductionAmount2=3
    I:DamageReductionAmount3=2
    I:DamageReductionAmount4=1

    # Okay, I lied, I know what this one does. But I'm still too
    # lazy to type.
    I:Enchantability=15

    # Yep, still don't know. They are set to 0 by default though
    # sooo.. I wouldn't touch it.
    D:Toughness=0.0
}
