general {
    # ----- FNFAL: Configuration ------

    # Base stats of the item
    D:Damage=10.0
    D:FireRate=0.6
    D:Recoil=5.0

    # Bullet drop-off
    D:GravityVelocity=0.0118

    # The information displayed in the lore of the item
    # Warning: This does not automatically update with Damage or Rate of Fire
    S:Description <
       Type: Battle rifle
       Damage: 10
       Cartridge: 7.62x51mm
       Fire Rate: SEMI, AUTO
       Rate of Fire: 60/100
       Magazines:
       20rnd 7.62x51mm Magazine
     >
}
