general {
    # ----- M20: Configuration ------

    # Base stats of the item
    D:Damage=7.0
    D:FireRate=0.999
    D:Recoil=1.5

    # Bullet drop-off
    D:GravityVelocity=0.0118

    # The information displayed in the lore of the item
    # Warning: This does not automatically update with Damage or Rate of Fire
    S:Description <
        Type: Sub Machine Gun/Personal Defense Weapon
        Damage: 7
        Cartridge: 9x19mm
        Fire Rate: SEMI, AUTO
        Rate of Fire: 95/100
     >
}