general {
    # ----- MP7: Configuration ------
    
    # Base stats of the item
    D:Damage=5.0
    D:FireRate=0.9
    D:Recoil=1.0
    
    # Bullet drop-off
    D:GravityVelocity=0.0118
    
    # The information displayed in the lore of the item
    # Warning: This does not automatically update with Damage or Rate of Fire
    S:Description <
        类型: 冲锋枪/个人防卫武器/自动手枪
        伤害: 5
        弹药: 4.6x30mm
        开火模式: 半自动, 全自动
        射击速率: 90/100
        可用弹药:
        40rnd 4.6x30mm HK Magazine
     >
}