general {
    # ----- TaurusRagingHunter: Configuration ------

    # Base stats of the item
    D:Damage=14.0
    D:FireRate=0.2
    D:Recoil=7.0

    # Bullet drop-off
    D:GravityVelocity=0.016

    # The information displayed in the lore of the item
    # Warning: This does not automatically update with Damage or Rate of Fire
    S:Description <
        类型: 左轮手枪
        伤害: 14
        弹药: .44 Bullet
        开火模式: 半自动
        射击速率: 20/100
     >
}