# Configuration file

##########################################################################################################
# clientonly
#--------------------------------------------------------------------------------------------------------#
# 这些选项只影响加载这个模组的客户端。\n如果你在寻找快捷键，请在ichunutil_keybinds.cfg文件中查看。
##########################################################################################################

clientonly {
    # 在GUI里显示所有壳体的信息？
    # 0 = 不
    # 1 = 只有名字就好了
    # 2 = 对，全部都给我显示！ [range: 0 ~ 2, default: 1]
    I:showAllShellInfoInGui=1
}


##########################################################################################################
# gameplay
#--------------------------------------------------------------------------------------------------------#
# 这些选项影响使用模组时的游戏性。
##########################################################################################################

gameplay {
    # 依需求添加，模组可以对区块加载壳体。未测试，不支持。
    # 可造成严重的世界崩溃。
    # 自负风险禁用。 [range: 0 ~ 1, default: 1]
    I:allowChunkLoading=1

    # 允许跨维度壳体同步？
    # 警告：目前出入末路之地有个问题，你需要在同步后重新登入，因为区块尚未加载。
    # 如允许末路之地，请自行承担风险。
    # 0 = 不
    # 1 = 是，但不包括末路之地
    # 2 = 是，包括末路之地 [range: 0 ~ 2, default: 1]
    I:allowCrossDimensional=1

    # 在玩家死亡和重新同步时允许跨维度同步？ [range: 0 ~ 1, default: 1]
    I:crossDimensionalSyncingOnDeath=1

    # 在新壳体建立时对玩家给予半心伤害数值。 [range: 0 ~ 2147483647, default: 2]
    I:damageGivenOnShellConstruction=2

    # 允许极限模式配方？
    # 0 = 不
    # 1 = 是
    # 2 = 是，但仅限极限模式。 [range: 0 ~ 2, default: 2]
    I:hardcoreMode=2

    # 如玩家有其他壳体，允许覆盖玩家的死亡？
    # 0 = 不
    # 1 = 对，但只对收藏单位
    # 2 = 对，对收藏和建筑单位 [range: 0 ~ 2, default: 1]
    I:overrideDeathIfThereAreAvailableShells=1

    # 在玩家死亡和重新同步时有线“家园”壳体？ [range: 0 ~ 1, default: 1]
    I:prioritizeHomeShellOnDeath=1

    # Redstone Flux : Piggawatt的比列。
    # 1RF = <配置>PG
    # 默认为 1 RF 制造 2 PG [range: 0 ~ 2147483647, default: 2]
    I:ratioRF=2

    # 在死亡同步时减少血量（可叠加）？
    # （2 = 1心） [range: 0 ~ 2147483647, default: 0]
    I:reduceHealthOnDeathSync=0

    # 壳体建立需要的能量需求 [range: 0 ~ 2147483647, default: 48000]
    I:shellConstructionPowerRequirement=48000

    # 以piggawatt为单位，每tick维持壳体收藏的能量需求。
    # 0 = 无需求 [range: 0 ~ 2147483647, default: 0]
    I:shellStoragePowerRequirement=0

    # 运送所有一直有效的物品（例如从匠魂的灵魂绑定）。
    # 可能会导致所有复制玩家物品栏的 mod 出问题 [range: 0 ~ 1, default: 1]
    I:transferPersistentItems=1
}


