general {
    # ----- AK12: Configuration ------

    # Base stats of the item
    D:Damage=8.5
    D:FireRate=0.85
    D:Recoil=3.5

    # Bullet drop-off
    D:GravityVelocity=0.0118

    # The information displayed in the lore of the item
    # Warning: This does not automatically update with Damage or Rate of Fire
    S:Description <
        Type: Assault rifle
        Damage: 8.5
        Cartridge: 5.45x39mm
        Fire Rate: SEMI, AUTO
        Rate of Fire: 85/100
        Magazines:
        31rnd 5.45x39mm Magazine
     >
}