general {
    # ----- G36C: Configuration ------

    # Base stats of the item
    D:Damage=7.0
    D:FireRate=0.75
    D:Recoil=2.5

    # Bullet drop-off
    D:GravityVelocity=0.0118

    # The information displayed in the lore of the item
    # Warning: This does not automatically update with Damage or Rate of Fire
    S:Description <
        类型: 突击步枪
        伤害: 7
        弹药: 5.56x45mm NATO
        开火模式: 半自动, 全自动
        射击速率: 75/100
        可用弹药:
        30rnd 5.56x45mm NATO HK Magazine
        100rnd 5.56x45mm NATO STANAG Drum Magazine
     >
}