general {
    # ----- Glock18C: Configuration ------

    # Base stats of the item
    D:Damage=5.0
    D:FireRate=0.999
    D:Recoil=3.0

    # Bullet drop-off
    D:GravityVelocity=0.02

    # The information displayed in the lore of the item
    # Warning: This does not automatically update with Damage or Rate of Fire
    S:Description <
        §a类型§f: 自动手枪
        §a伤害§f: 5
        §a弹药§f: 9x19mm
        §a开火模式§f: 半自动, 全自动
        §a射击速率§f: 0.999
        §a可用弹药§f: 按 §6U §f查看
     >
}