general {
    # ----- L96A1: Configuration ------
    
    # Base stats of the item
    D:Damage=34.0
    D:FireRate=0.16
    D:Recoil=8.0
    
    # Bullet drop-off
    D:GravityVelocity=0.0
    
    # The information displayed in the lore of the item
    # Warning: This does not automatically update with Damage or Rate of Fire
    S:Description <
        §a类型§f: 狙击步枪
        §a伤害§f: 34
        §a弹药§f: 7.62x51mm
        §a开火模式§f: 栓式枪机
        §a射击速率§f: 0.16
        §a可用弹药§f: 按 §6U §f查看
     >
}