general {
    # ----- M1Garand: Configuration ------

    # Base stats of the item
    D:Damage=10.0
    D:FireRate=0.2
    D:Recoil=3.5

    # Bullet drop-off
    D:GravityVelocity=0.0118

    # The information displayed in the lore of the item
    # Warning: This does not automatically update with Damage or Rate of Fire
    S:Description <
        类型: 半自动步枪
        伤害: 10
        弹药: .30-06 Springfield Bullet
        开火模式: 半自动
        射击速率: 20/100
     >
}