general {
    # ----- M32MGL: Configuration ------

    # Base stats of the item
    D:Damage=70.0
    D:FireRate=0.16
    D:Recoil=6.0

    # Bullet drop-off
    D:GravityVelocity=0.3

    # The information displayed in the lore of the item
    # Warning: This does not automatically update with Damage or Rate of Fire
    S:Description <
        Type: Multiple Grenade Launcher
        Cartridge: 40mm Grenade
        Fire Rate: Semi
     >
}