general {
    # ----- RPG7: Configuration ------

    # Base stats of the item
    D:Damage=70.0
    D:FireRate=0.7
    D:Recoil=10.0

    # Bullet drop-off
    D:GravityVelocity=0.05

    # The information displayed in the lore of the item
    # Warning: This does not automatically update with Damage or Rate of Fire
    S:Description <
        类型: 火箭弹发射器
		伤害: 70
        弹药: RPG-7 Rocket
        开火模式: 半自动
     >
}