general {
    # ----- SV98: Configuration ------
    
    # Base stats of the item
    D:Damage=34.0
    D:FireRate=0.16
    D:Recoil=6.0
    
    # Bullet drop-off
    D:GravityVelocity=0.0
    
    # The information displayed in the lore of the item
    # Warning: This does not automatically update with Damage or Rate of Fire
    S:Description <
        Type: Sniper Rifle
        Damage: 34
        Cartridge: 7.62x54mmR
        Fire Rate: BOLT ACTION
        Rate of Fire: 16/100
        Magazines:
        10rnd 7.62x54mmR Izhmash Magazine
     >
}