general {
    # ----- VSS: Configuration ------
    
    # Base stats of the item
    D:Damage=13.0
    D:FireRate=0.7
    D:Recoil=1.5
    
    # Bullet drop-off
    D:GravityVelocity=0.0118
    
    # The information displayed in the lore of the item
    # Warning: This does not automatically update with Damage or Rate of Fire
    S:Description <
        类型: 特种狙击步枪
        伤害: 13
        弹药: 9x39mm
        开火模式: 半自动, 全自动
        射击速率: 70/100
        可用弹药:
        20rnd 9x39mm Magazine
     >
}